<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | {{ meta.siteName }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	<link rel="icon" href="/assets/img/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png"><!-- 180×180 -->
	<link rel="manifest" href="/assets/img/manifest.webmanifest">
</head>
<body>
	<div class="sitewrapper">

		{% block header %}
			{% include './components/header.njk' %}
		{% endblock %}

		{% block content %}
			<main>
				{{ content | safe }}
			</main>
		{% endblock %}

		{% block aside %}
		{% endblock %}

		{% block footer %}
			{% include './components/footer.njk' %}
		{% endblock %}
	</div>

	<script src="https://cdn.jsdelivr.net/npm/container-query-polyfill@1/dist/container-query-polyfill.modern.js"></script>
	<script src="{{ '/js/index.js' | url }}"></script>
	<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
</body>
</html>