<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | {{ meta.siteName }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<div class="sitewrapper">

		{% block header %}
			{% include './components/header.njk' %}
		{% endblock %}

		{% block content %}
			<main>
				{{ content | safe }}
			</main>
		{% endblock %}

		{% block aside %}
			{% include './components/aside.njk' %}
		{% endblock %}

		{% block footer %}
			{% include './components/footer.njk' %}
		{% endblock %}
	</div>

	<script src="{{ '/js/index.js' | url }}"></script>
</body>
</html>