<section class="bg-primary pk-4 grid gap-2">
  <div class="content">
    <h2>Anstehende Termine</h2>
  </div>
  <div class="bleed">
    <ul class="events">
      {% for event in collections.events | limit(3) %}
      <li>
        <a href="{{ event.url }}" class="flow">
          <h4>{{ event.data.date | postDate }}</h4>
          <h3>{{ event.data.title }}</h3>
          <p>{{ event.content | safe | excerpt }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>