<footer class="bg-light pk-5 mt-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <h5>Sitemap</h5>
        <menu class="footer__menu">
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/ausbildung">Ausbildung</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/karriere">Karriere</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/praktikum">Praktikum</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/bewerbung">Bewerbung</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/talentscouts">Talentscouts</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/aktionswoche">Aktionswoche Handwerk</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/termine">Termine</a>
          </li>
        </menu>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <h5>Rechtliches</h5>
        <menu class="footer__menu">
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/ausbildung-2024">Ausbildung 2024</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/kontakt">Kontakt</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/datenschutz">Datenschutz</a>
          </li>
          <li>
            <a href="https://zukunftswerkstatt-marburg.de/impressum">Impressum</a>
          </li>
        </menu>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <h5>Kontakt</h5>
        <dl class="address">
          <dt><ion-icon name="location-outline" role="img" class="md hydrated"></ion-icon></dt>
          <dd>
            <strong>Kreishandwerkerschaft Marburg</strong><br>
            Umgehungsstraße 1 <br>
            35043 Marburg
          </dd>
        </dl>
        <dl class="address">
          <dt><ion-icon name="mail-outline" role="img" class="md hydrated"></ion-icon></dt>
          <dd><a href="mailto:info@handwerk-mr.de">info@handwerk-mr.de</a></dd>
        </dl>
        <dl class="address">
          <dt><ion-icon name="call-outline" role="img" class="md hydrated"></ion-icon></dt>
          <dd><a href="tel:+49642195090">+49642195090</a></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <hr>
        <small>2024 © by Kreishandwerkerschaft Marburg</small>
      </div>
    </div>
  </div>
</footer>