header {
  container: header / inline-size;
  padding-block: 2rem;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  border-bottom: 1px solid var(--accent);

  .logo {
    height: 4rem;
    width: auto;
    display: block;

    img {
      height: inherit;
      width: inherit;
    }
  }
}