@use '../foundation/' as *;

.hero {
  height: auto;
  max-height: 60dvh;
  overflow: hidden;
  border-radius: 0 0 1rem 1rem;

  > * {
    grid-row: 1 / 2;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 4rem;
    height: 100%;

    &__lead {
      grid-row: 2 / 3;
      
      .h3, p {
        color: white;
        text-shadow: 1px 1px .5em rgba($primary, .5);
      }

      h1 {
        color: $light;
        font-size: clamp(2rem, 4vw, 6vw);
        text-shadow: 1px 1px .5em rgba($primary, .5);
      }
    }
  }

  &__bg {
    height: 60dvh;
    width: 100%;
    background: linear-gradient(to bottom, rgba($secondary, .1), rgba($primary, 0.6)), url('/assets/img/hero.webp') no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
}