---
layout: base.njk
title: Willkommen

eleventyNavigation:
  key: Start
  order: 1
---

<div class="hero grid">
  <div class="bleed-right">
    <div class="hero__bg" style="background-image: url('/assets/img/header.jpg')"></div>
  </div>
  <div class="content-left">
    <div class="hero__content flow">
      <h1 class="h2">Kreis­hand­werker­schaft: Kompe­tenz im Hand­werk</h1>
      <p class="lead-sm">
        Das Handwerk verbindet Menschen und soll verlässlicher Dienstleister für Privatpersonen, Unternehmen und die Region
        sein.
      </p>
    </div>
  </div>
</div>

{% include 'components/shortcuts.njk' %}

<section class="pk-5 grid gap-2">
 <div class="content-left flow">
  <h2>Die Kreishandwerkerschaft Marburg heißt Sie willkommen</h2>
  <p>Hier finden Sie aktuelle Informationen, den Handwerksbetrieb in Ihrer Nähe, nützliche Adresse und weitere interessante
  Hinweise rum um das Handwerk in der Region Marburg-Biedenkopf.</p>
  <hr>
  <a href="#" class="btn">mehr über uns</a>
 </div>
 <div class="content-right">
    <div class="link-track">
      <a href="#" class="track track-1">
        <span>Ansprechpartner</span>
      </a>
      <a href="#" class="track track-2">
        <span>Kontakt</span>
      </a>
      <a href="#" class="track track-3">
        <span>Hilfe</span>
      </a>
    </div>
 </div>
</section>

<div class="section pk-5">
  <div class="grid">
    <div class="content">
      <div class="boxes">
        <div class="box bg-light pi-2 pk-2 box-shadow">
          <h5>Landkreis Marburg - Biedenkopf</h5>
          <h3>Die Kreishandwerkerschaft</h3>
        </div>

        <div class="box bg-primary pi-2 pk-2 box-shadow">
          <h6>Leistungsspektrum</h6>
          <h4>Beratung & Service</h4>
        </div>

        <div class="box bg-secondary pi-2 pk-2 box-shadow">
          <h6>Über 500 Betriebe</h6>
          <h4>Innungsfachbetrieben</h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'components/partner.njk' %}