---
layout: base.njk
title: Willkommen

eleventyNavigation:
  key: Start
  order: 1
---

<div class="hero grid">
  <div class="full">
    <div class="hero__bg" style="--bgimg: '/assets/img/hero.webp';"></div>
  </div>
  <div class="bleed">
    <div class="hero__content">
      <div class="hero__content__lead flow">
        <div class="h3 mb-0">Kompe­tenz im Hand­werk</div>
        <h1 class="h2 mt-0">Kreis­hand­werker­schaft Marburg</h1>
        <p class="lead-sm">
          Das Handwerk verbindet Menschen und soll verlässlicher Dienstleister für Privatpersonen, Unternehmen und die Region
          sein.
        </p>
      </div>
    </div>
  </div>
</div>

{% include 'components/shortcuts.njk' %}

<section class="pk-5 grid gap-2">
 <div class="content-left flow">
  <h2>Die Kreishandwerkerschaft Marburg heißt Sie willkommen</h2>
  <p>Hier finden Sie aktuelle Informationen, den Handwerksbetrieb in Ihrer Nähe, nützliche Adresse und weitere interessante
  Hinweise rund um das Handwerk in der Region Marburg-Biedenkopf.</p>
  <hr>
  <a href="#" class="btn">mehr über uns</a>
 </div>
 <div class="content-right">
    <div class="link-track">
      <a href="#" class="track track-1">
        <span>Ansprechpartner</span>
      </a>
      <a href="#" class="track track-2">
        <span>Kontakt</span>
      </a>
      <a href="#" class="track track-3">
        <span>Hilfe</span>
      </a>
    </div>
 </div>
</section>

{% include 'components/events.njk' %}

<section class="pk-5 grid mk-2">
  <div class="content" id="newscontainer">
    <h2 class="mb-2">Aktuelles</h2>
    {% include 'components/news.njk' %}
  </div>
</section>

{% include 'components/partner.njk' %}